h1 {
  color: green;
  font-size: 100px;
}
h5 {
  margin-top: 0;
  font-size: 200px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: chartreuse;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: red;
}
@media (max-width: 500px) {
  body {
    background-color: #ffd700;
  }
}
@media (max-width: 800px) {
  body {
    background-color: aqua;
  }
}
