h1 {
  color: green;
  font-size: 100px;
}
h5 {
  font-size: 200px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: chartreuse;
}
p {
  border: 1px solid black;
  max-width: 300px;
  background-color: fuchsia;
  color: white;
  margin: 0 auto;
  padding: 1em;
}
